.content-left
  .user-name
    = current_user.name
  = link_to new_group_path do
    %i.fa.fa-pencil-square-o
  = link_to edit_user_path(current_user) do
    %i.fa.fa-cog
  .groups
    %p.groups__name
      新規チャットグループ
    %p.groups__message
      まだメッセージはありません。
  .groups
    %p.groups__name
      新規チャットグループ(2)
    %p.groups__message
      まだメッセージはありません。(2)

.content-right
  .group
    %p.group__name
      sampleグループ
    %p.group__member
      Members: 板橋洋輔
  = link_to edit_group_path(current_user) do
    %p.group__btn
      Edit

  .chat
    %p.chat__user
      板橋洋輔
    %p.chat__date
      2016/10/02 06:27:07
    %p.chat__content
      なるほど

  .bottom-content
    .submit
    %p.submit__content
      ここにテキスト
    %i.fa.fa-file-image-o
    %p.submit__btn
      Send
