@import "./reset";
@import "./colors.scss";
@import "font-awesome";
@import "./chat";
@import "./user.scss";
@import "./flash.scss";
@import "./group.scss";


//左の黒いエリア
.content-left {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  color: $white;
  float: left;
  position: relative;
}

.user-name {
  background-color: #090c10;
  padding: 35px 0px 35px 20px;
  font-weight: bold;
  font-size: 16px;
}

.fa {
  position: absolute;

  &-pencil-square-o{
    left: 250px;
    top: 40px;
    color: $white;
  }
  &-cog {
    left: 270px;
    top: 40px;
    color: $white;
  }
}

.groups {
  padding: 20px 20px 40px 20px;
  color: $white;
  &__name {
    font-size: 15px;
    padding-bottom: 5px;
  }
  &__message {
    font-size: 11px;
  }
}


//下の入力エリア
.bottom-content {
  background-color: #B8C3C7;
  padding: 20px 40px;
  position: absolute;
  bottom: 0px;
  width: calc(100vw - 380px);
}

.submit {
  background-color: $white;
  position: relative;
  width: calc(100% - 130px);
  &__content {
    display: inline-block;
    background-color: $white;
    line-height: 50px;
    padding-left: 10px;
    font-size: 16px;
    color: #434A54;
    width: calc(100% - 150px);
    border: 0px;
  }
  &__btn {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    position: absolute;
    right: 40px;
    background-color: $blue;
    color: white;
    line-height: 50px;
    bottom: 20px;
    border: $blue;
  }
}

.fa {
  &-file-image-o{
    padding: 17px 0px;
    padding-right: 10px;
    background-color: $white;
  }
}

//グループ作成時のエラー内容
#error_explanation.alert.alert-danger{
  text-align: center;
}

.error-msg{
  color: black;
}

.error-msg-count{
  color: red;
}


